body{
  background-color: rgb(117, 131, 139);
  color: rgb(3, 3, 3);
  text-align: center;
}

h2{
  color: rgb(7, 121, 43);
}

.sc-container{
  width: 60%;
}

.sc-container, .ticket{
  margin-top: 100px;
  border-radius: 15px;
  padding: 50px 50px;
  background-color: white;
}
